COMRAD_MANAGER_PORT=
COMRAD_PROMETHEUS_PORT=
COMRAD_ADMIN_TOKEN=
COMRAD_CLIENT_API_KEY=
COMRAD_WORKER_TOKEN=
COMRAD_POSTGRES_PASSWORD=
COMRAD_EXTERNAL_URL=
COMRAD_AUTO_APPROVE_WORKERS=true
COMRAD_ENFORCE_BALANCE=false
